doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
        title Document
    body
        header.container
            a.logo(href="/dist/index.html")
                img(src=require("./assets/logo.png").default)
                span.logo-title БАЛТ
            nav
                a.nav-item(href="#about") Товары
                a.nav-item(href="#about")       О компании
                a.nav-item(href="#contacts" target="_blank") Карьера
                a.nav-item(href="#contacts") Контакты

        main.container.odd
            .main-text
                p
                    span.a ОПТОВЫЕ ПРОДАЖИ
                p
                    span.b ПРОДУКТОВ С ДОСТАВКОЙ ПО ЯНАО
            .main-img
                img(src=require(`./assets/warehouse.png`).default)

        .carousel.container
            h1.title Наши преимущества
            .box-out
                .box-inn
                    .card
                        .card-img
                            img(src=require(`./assets/carousel/1.png`).default)
                        h1 Доставка по ЯНАО
                    .card
                        .card-img
                            img(src=require(`./assets/carousel/2.jpg`).default)
                        h1 Доставка по ЯНАО
                    .card
                        .card-img
                            img(src=require(`./assets/carousel/3.jpg`).default)
                        h1 Доставка по ЯНАО
                .left-control.controls
                    img(src=require("./assets/arrowleft.svg").default)
                .right-control.controls
                    img(src=require("./assets/arrowright.svg").default)
                .page-dots
                    each val in [1, 2, 3]
                        .page-dot

        .distributors.container.odd
            h1.title Наши партнеры
            .grid-box
                .grid-item
                    img(src=require("./assets/vbdlogo.png").default)
                    .grid-item__title Вим биль дан
                .grid-item
                    img(src=require("./assets/danonlogo.png").default)
                    .grid-item__title Данон
                .grid-item
                    img(src=require("./assets/unimilklogo.png").default)
                    .grid-item__title Юнимилк
                .grid-item
                    img(src=require("./assets/goldlogo.png").default)
                    .grid-item__title Золотые луга

        .about#about.container
            h1.title О нас
                p Наша компания — оптовый поставщик продуктов питания и один из лидеров по оказанию услуг питания в сегменте муниципальных бюджетных общеобразовательных учреждений Ямало-Ненецкого автономного округа и производственных участков различных организаций. Наши сотрудники обслуживают несколько тысяч человек и сотни предприятий ежедневно. Мы предлагаем большой ассортимент продуктов питания, напитков, сельскохозяйственной продукции по конкурентоспособным ценам!
                p Общество с ограниченной ответственностью «БАЛТ», является преемником компании «СТЭЛС» и продолжает с успехом реализовывать продукты питания на рынке города Новый Уренгой, а также - близлежащих городов и поселков.

        .goods.container
            h1.title Товары

        .support.container
            h1.title Поддержка сервисов
            .grid-box
                .grid-item
                    img(src=require("./assets/support/mercuri.png").default)
                    .grid-item__title ФГИС Меркурий
                .grid-item
                    img(src=require("./assets/support/edo.png").default)
                    .grid-item__title ЭДО
                .grid-item
                    img(src=require("./assets/support/honest.png").default)
                    .grid-item__title Честный знак


        .location.container
            h1.title Мы находимся
                h3 Адрес:
                    span  Западная промзона, панель Е, склад №3
                #ymaps
                    //- script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27b8ce6139cf40f3a973819f9218c80d8994760c4d13ecd7a28c2a1b6b3885cf&amp;width=1170&amp;height=660&amp;lang=ru_RU&amp;scroll=true")
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27b8ce6139cf40f3a973819f9218c80d8994760c4d13ecd7a28c2a1b6b3885cf&amp;width=100%25&amp;height=660&amp;lang=ru_RU&amp;scroll=true")
        .contacts#contacts.container
            h1.title Контакты
            .contacts-box
                .left
                    .phone +7 922 282 50 44
                    .email musabi@live.com
                .right
                    .location Местоположение

        footer.container
            .footer-item



